<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="row">
  <div class="large-1 columns"></div>
  <div class="large-11 columns">
<div class="row">
  <div class="top-bar">
    <div class="top-bar-title">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon dark" type="button" data-toggle></button>
      </span>
      <img src="https://camo.githubusercontent.com/1f913cb7a82c253c105fc923a8bf6eae1046fa7f/68747470733a2f2f7261772e6769746875622e636f6d2f6769746875622f6d656469612f6d61737465722f6f63746f636174732f626c61636b746f6361742d33322e706e67" alt="" />
      <strong>GitHub Browse</strong>
    </div>
    <div id="responsive-menu">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li><%= link_to "Home", root_path %></li>
          <li>
            <% if current_user %>
            <%= link_to "My Feed", "/user/#{current_user.username}/events" %>
            <% else %>
            <% end %>
          </li>
          <li>
            <% if current_user %>
            <%= link_to "Following Feed", "/user/#{current_user.username}/received_events" %>
            <% else %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li>
            <% if current_user %>
            Hello, <%= current_user.name %> </br>
          </li>
          <li>
            <%= button_to "Logout", logout_path, method: :delete, class: 'hollow button'  %>
            <% else %>
            <%= button_to "Login with Github", github_login_path %>
            <% end %>
          </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
    <%= yield %>

  </body>
  </html>
